.slider-card{
    background-color: #FAE180;   
    height: 170px;
    width: 120px;
    border-radius: 20px;
    position: relative;
    opacity: 0.5;
    align-items: center;
}

.slider-card:hover{
    opacity: 1;
}

.img-card{
    width: 130px;
    height: auto;
    overflow: hidden;
}

.img-desc{
    height: 50px;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    background-color: white;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
}

.gold-pokeball{
    width: 22px;
    height: 22px;
    margin-top: 15px;
}

.name-img-desc{
    color: black;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}